<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Styles.Render("~/Content/bundle")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/Scripts/bundle")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
</head>

<body>
    <nav class="navbar navbar-dark bg-dark fixed-top navbar-expand-md">
        <a class="navbar-brand" href="/">IoT Platform</a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                @if (@ViewBag.Title == "Homepage")
                {
                    <li class="active nav-item"><a href="/" class="nav-link">Homepage</a></li>
                    <li class="nav-item"><a href="/add" class="nav-link">Add Application</a></li>
                }
                else if (@ViewBag.Title == "Add Application")
                {
                    <li class="nav-item"><a href="/" class="nav-link">Homepage</a></li>
                    <li class="active"><a href="/add" class="nav-link">Add Application</a></li>
                }
                else
                {
                    <li class="nav-item"><a href="/" class="nav-link">Homepage</a></li>
                    <li class="nav-item"><a href="/add" class="nav-link">Add Application</a></li>
                }
            </ul>
        </div>
    </nav>

    <main role="main" class="container">
        @RenderBody()
    </main>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>