@model front_end.ViewModel.ViewModelVM
@{
    ViewBag.Title = "Homepage";
}

<div class="row justify-content-between">
    <div class="col-auto">
        <h2>Current Applications</h2>
    </div>

    <div class="col-auto">
        <a class="btn btn-primary" href="/add" role="button">Add Application</a>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-12">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col" width="10%">#</th>
                <th scope="col" width="40%">Application Name</th>
                <th scope="col" width="40%">Web Service Link</th>
                <th scope="col" width="10%">Data Fields</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.configurations.Count; i++)
            {
                var element = Model.configurations.ElementAt(i);

                string str = "";
                for (int j = 0; j < element.Value.Count; j++)
                {
                    if (j == 0 && element.Value.Count != 1)
                    {
                        str = element.Value[j].name + ", ";
                    }
                    else if (j < element.Value.Count - 1)
                    {
                        str = str + element.Value[j].name + ", ";
                    }
                    else
                    {
                        str = str + element.Value[j].name;
                    }
                }

                <tr>
                    <th scope="row" style="vertical-align: middle;">@(i + 1)</th>
                    <td style="vertical-align: middle;">@Model.names[element.Key]</td>
                    <td style="vertical-align: middle;">@element.Key</td>
                    <td style="vertical-align: middle; text-align: center;"><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#@element.Key">
                        Show</button>
                    </td>
                </tr>

                <tr>
                    <td colspan="4" class="hiddenRow">
                        <div class="accordian-body collapse" id="@element.Key"> 
                        <div class="card card-body">
                            <table class="table">
                                <thead class="thead-light">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Screen Location</th>
                                        <th scope="col">Modifiable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for (int j = 0; j < element.Value.Count; j++)
                                {
                                    <tr>
                                        <th scope="row">@(j + 1)</th>
                                        <td>@element.Value[j].readableName</td>
                                    @if (element.Value[j].visual == "line") {
                                        @:<td>Line Chart</td>
                                    } else if (element.Value[j].visual == "bar") {
                                        @:<td>Bar Chart</td>
                                    } else if (element.Value[j].visual == "pie") {
                                        @:<td>Pie Chart</td>
                                    } else if (element.Value[j].visual == "text") {
                                        @:<td>Text</td>
                                    } else if (element.Value[j].visual == "image") {
                                        @:<td>Image</td>
                                    } else if (element.Value[j].visual == "data-text") {
                                        @:<td>Data with Text</td>
                                    } else {
                                        @:<td>No Visual</td>
                                    }

                                    @if (element.Value[j].screenLocation == 1) {
                                        @:<td>Top Left</td>
                                    } else if (element.Value[j].screenLocation == 2) {
                                        @:<td>Bottom Left</td>
                                    } else if (element.Value[j].screenLocation == 3) {
                                        @:<td>Top Right</td>
                                    } else if (element.Value[j].screenLocation == 4) {
                                        @:<td>Bottom Right</td>
                                    } else {
                                        @:<td>---</td>
                                    }

                                    @if (element.Value[j].modifiable == true) {
                                        @:<td>Yes</td>
                                    } else {
                                        @:<td>No</td>
                                    } 

                                    </tr>
                                }
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
</div>
